<!DOCTYPE html>
<html lang="en">

<head>

    {{>header}}
    <title> Academy</title>
</head>

<body>
    {{>navbar}}
    <section class="text-gray-600 body-font h-full ">
        <div class="container px-5 py-20 mx-auto xl:h-[92vh]">
            <div class="text-center mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"> Academy - Best Coaching
                    Classes In Amravati</h1>
                <p class="text-base leading-relaxed xl:w-8/12 lg:w-3/4 mx-auto text-gray-500s">At  Academy, your
                    child’s future is an intrinsic part of our collective vision.The environment we provide, our innate
                    culture, and the non-academic interventions we make are all a product of our commitment to the
                    student’s overall academic improvement. Because we truly believe
                    that, at our very core,  Academy is a family and not an educational corporate!!

                </p>
                <div class="flex mt-6 justify-center">
                    <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
                </div>
            </div>
            <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
                <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                    <div
                        class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
                        <svg width="67px" height="67px" viewBox="-2.4 -2.4 28.80 28.80"
                            xmlns="http://www.w3.org/2000/svg" fill="#6366f1" stroke="#6366f1"
                            stroke-width="0.00024000000000000003" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                stroke="#CCCCCC" stroke-width="0.24000000000000005"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M16 10H8V9h8zm-4.87 11l1.064 1H3.5C2.122 22 1 20.43 1 18.5S2.122 15 3.5 15H5V5.75C5 3.682 6.122 2 7.5 2h13c1.378 0 2.45 1.57 2.45 3.5S21.878 9 20.5 9H19v7.138l-1 .979V5.75A5.994 5.994 0 0 1 18.64 3H7.5C6.792 3 6 4.176 6 5.75V15h10.57l-.71.826A4.141 4.141 0 0 0 15 18.5a5.186 5.186 0 0 0 .047.692l-1.032-.971A5.555 5.555 0 0 1 14.557 16H3.5C2.701 16 2 17.168 2 18.5S2.701 21 3.5 21zM19 8h1.5c.799 0 1.55-1.168 1.55-2.5S21.299 3 20.5 3h-.677A4.62 4.62 0 0 0 19 5.75zM8 13h8v-1H8zm8-7H8v1h8zm6.491 8.819l-6.998 6.851-2.832-2.663-.685.728 3.53 3.321 7.685-7.522z">
                                </path>
                                <path fill="none" d="M0 0h24v24H0z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Regular Tests & Doubt Solving</h2>
                        <p class="leading-relaxed text-base">The importance of periodic assessments, both topic-wise and
                            subject-wise is crucial to crack any exam successfully. We also conduct mock simulative
                            exams closer to the big day!</p>
                        <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                    <div
                        class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">

                        <svg class="w-12 h-12" fill="#6366f1" height="64px" width="64px" version="1.1" id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 512 512" xml:space="preserve" stroke="#6366f1">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <g>
                                        <g>
                                            <path
                                                d="M84.718,340.769c4.461,0,8.075-3.614,8.075-8.075V179.307c0-4.461-3.614-8.075-8.075-8.075s-8.075,3.614-8.075,8.075 v153.388C76.643,337.154,80.257,340.769,84.718,340.769z">
                                            </path>
                                            <path
                                                d="M428.411,370.76c-17.059,0-30.938,13.88-30.938,30.94c0,17.059,13.88,30.937,30.938,30.937 c17.061,0,30.94-13.88,30.94-30.937C459.351,384.638,445.472,370.76,428.411,370.76z M428.411,416.488 c-8.154,0-14.787-6.633-14.787-14.787c0-8.155,6.633-14.789,14.787-14.789c8.155,0,14.789,6.635,14.789,14.789 C443.201,409.853,436.566,416.488,428.411,416.488z">
                                            </path>
                                            <path
                                                d="M510.804,435.5L408.597,53.357c-4.101-15.344-18.079-26.059-33.989-26.059c-3.043,0-6.084,0.401-9.039,1.192 l-69.095,18.479c-9.04,2.417-16.611,8.233-21.318,16.38c-4.708,8.144-5.969,17.608-3.552,26.647l10.143,37.927 c-3.439-1.127-7.108-1.745-10.921-1.745h-82.404c-6.993,0-13.51,2.062-18.992,5.597V48.945c0-19.377-15.764-35.142-35.14-35.142 H35.14C15.765,13.805,0,29.568,0,48.945v414.109c0,19.377,15.765,35.142,35.142,35.142h99.152 c10.877,0,20.614-4.968,27.065-12.754c6.451,7.786,16.189,12.754,27.067,12.754h82.404c19.377,0,35.142-15.765,35.142-35.142 V218.482l67.841,253.655c4.102,15.343,18.081,26.058,33.99,26.058c3.043,0,6.084-0.401,9.039-1.191l69.096-18.477 C504.652,473.519,515.807,454.218,510.804,435.5z M153.282,463.056c0,10.472-8.519,18.992-18.99,18.992H35.141 c-10.471-0.001-18.991-8.521-18.991-18.992v-17.647h137.132V463.056z M153.282,429.258H16.15v-31.285h137.132V429.258z M153.282,381.823H16.15V130.178h137.132V381.823z M153.282,114.028H16.15V82.743h137.132V114.028z M153.283,66.592h-0.001H16.15 V48.945c0-10.472,8.52-18.992,18.992-18.992h99.152c10.471,0,18.99,8.52,18.99,18.992V66.592z M289.82,463.056 c0,10.472-8.52,18.992-18.992,18.992h-82.404c-10.472,0-18.992-8.52-18.992-18.992V161.317c0-10.472,8.52-18.991,18.992-18.991 h82.404c10.472,0,18.992,8.519,18.992,18.991V463.056z M287.207,85.822c-1.303-4.871-0.616-9.983,1.933-14.393 c2.55-4.41,6.637-7.556,11.509-8.859l69.096-18.479c1.592-0.426,3.23-0.643,4.866-0.643c8.609,0,16.17,5.789,18.387,14.08 l11.308,42.281L298.515,128.1L287.207,85.822z M302.687,143.701l105.79-28.291l6.93,25.909l-105.79,28.291L302.687,143.701z M313.789,185.213l105.791-28.291l3.477,13l-105.791,28.291L313.789,185.213z M321.439,213.814l105.79-28.291l6.931,25.908 l-105.791,28.291L321.439,213.814z M481.761,462.925l-69.096,18.477c-1.592,0.426-3.23,0.643-4.866,0.643 c-8.609,0-16.172-5.79-18.389-14.08l-56.872-212.641l105.791-28.291l56.872,212.638 C497.906,449.786,491.877,460.22,481.761,462.925z">
                                            </path>
                                            <path
                                                d="M452.396,341.315c-1.152-4.309-5.587-6.869-9.887-5.715l-59.372,15.877c-4.309,1.151-6.867,5.578-5.715,9.887 c0.966,3.61,4.229,5.991,7.795,5.991c0.691,0,1.393-0.089,2.091-0.277l59.372-15.877 C450.99,350.05,453.548,345.624,452.396,341.315z">
                                            </path>
                                            <path
                                                d="M263.909,308.725h-68.565c-4.461,0-8.075,3.614-8.075,8.075c0,4.46,3.614,8.075,8.075,8.075h68.565 c4.461,0,8.075-3.616,8.075-8.075C271.984,312.339,268.37,308.725,263.909,308.725z">
                                            </path>
                                            <path
                                                d="M229.626,203.676c-25.036,0-45.404,20.369-45.404,45.405c0,25.036,20.368,45.404,45.404,45.404 c25.037,0,45.406-20.368,45.406-45.404C275.031,224.044,254.663,203.676,229.626,203.676z M229.626,278.334 c-16.13,0-29.254-13.123-29.254-29.253c0-16.131,13.124-29.255,29.254-29.255c16.131,0,29.256,13.123,29.256,29.255 C258.881,265.212,245.758,278.334,229.626,278.334z">
                                            </path>
                                            <path
                                                d="M263.909,339.804h-68.565c-4.461,0-8.075,3.614-8.075,8.075s3.614,8.075,8.075,8.075h68.565 c4.461,0,8.075-3.614,8.075-8.075S268.37,339.804,263.909,339.804z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Comprehensive Notes</h2>
                        <p class="leading-relaxed text-base">Our students study from nothing but the best. The study
                            material and notes are easy-to-understand, thoroughly updated and prepared after years of
                            research!</p>
                        <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                    <div
                        class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
                        {{!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg> --}}

                        {{!-- #6366f1 --}}


                        <svg class="w-12 h-12" fill="#6366f1" version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px"
                            height="64px" viewBox="0 0 937 937" xml:space="preserve">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <path
                                        d="M513.1,360.85c5.601,0,11,0.9,16.2,2.4l97-118.9c6.2-7.6,17.7-9,25.2-2.6c7.3,6.1,8.3,17,2.2,24.4l-95.9,117.6 c6.5,9,10.4,20.101,10.4,32.101c0,22.3-13.4,41.6-32.5,50.199H912c13.8,0,25-11.199,25-25v-316.5c0-13.8-11.2-25-25-25H434 c-13.8,0-25,11.2-25,25v207.8l22.6,28.6h81.5V360.85z">
                                    </path>
                                    <circle cx="201.3" cy="121.85" r="102.4"></circle>
                                    <g>
                                        <path
                                            d="M306.3,892.55c0,13.801-11.2,25-25,25h-42c-13.8,0-25-11.199-25-25v-209.6c0-7.4-6-13.4-13.4-13.4l0,0 c-7.4,0-13.4,6-13.4,13.4v208.6c0,14.301-11.7,26-26,26h-41.1c-13.8,0-25-11.199-25-25l-0.2-506c0-6.8-5.5-12.399-12.4-12.399l0,0 c-6.8,0-12.4,5.5-12.4,12.399V581.15c0,13.8-11.2,25-25,25H25c-13.8,0-25-11.2-25-25v-266.8c0-31.7,25.7-57.3,57.3-57.3H285 c24.399,0,47.5,11.2,62.7,30.3l61.199,77.2l12.9,16.3c0,0,58,0,91.4,0.1c13.8,0,25,11.2,25,25v19.9c0,13.8-11.2,25-25,25H405 c-10.7,0-20.8-4.9-27.4-13.301l-45.6-58.6c-2.3-3-6-4.8-9.8-4.8H319.1c-6.8,0-12.399,5.5-12.399,12.399L306.3,892.55z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Qualified Faculty</h2>
                        <p class="leading-relaxed text-base">Any professor teaching at  Academy commits to the
                            highest standards of expertise & experience. Needless to say, they are the backbone of our
                            accomplishments!</p>
                        <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <a href="/aboutus">
                <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">About Us</button>
            </a>
        </div>
    </section>
</body>


</html>