<!DOCTYPE html>
<html lang="en">

<head>

    {{>header}}
    <title> Academy</title>
</head>

<body>
    {{>navbar}}

    <div class="flex justify-center items-center h-[92vh]">
        <div class="shadow-2xl p-8 rounded-lg bg-gradient-to-r from-red-200 to-yellow-200 max-w-md w-full">
            <h1 class="text-xl font-semibold mb-4 text-center">Reset Password</h1>
            <form action="/reset-password/{{token}}" method="POST">
                <div class="mb-4">
                    <input type="password" name="password" placeholder="New Password" required
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none">
                </div>
                <div class="mb-4">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none">
                </div>
                <div class="text-center">
                    <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600">Reset
                        Password</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/290d4f0eb4.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>